meta/n8n/budgetflow-upcoming-payments.json
{
  "name": "BudgetFlow Upcoming Payments",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 9
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.BUDGETFLOW_BASE_URL}}/api/notifications/upcoming?days=7",
        "authentication": "headerAuth",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.BUDGETFLOW_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Upcoming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"items\"].length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $json.items || [];\nif (!items.length) return [];\nconst lines = items.map((item) => {\n  const date = new Date(item.dueDate).toLocaleDateString();\n  return `• ${item.title} — ${item.amountUSD} USD — ${date}`;\n});\nreturn [\n  {\n    json: {\n      message: `Upcoming payments (next 7 days):\\n${lines.join('\\n')}`\n    }\n  }\n];"
      },
      "name": "Build Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json[\"message\"]}}"
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1180,
        300
      ],
      "credentials": {
        "telegramApi": {
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch Upcoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Upcoming": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
